body{
	margin: 0;
	padding: 0;
}
.box{
	width: 450 px;
	background: rgba(0,0,0,0.4);
	padding: 40 px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'DejaVu Sans Mono', monospace;
	}
